div {
    background-color: lightskyblue;
    margin: 20px;
    display: inline-block;
    padding: 20px;
}

.moveToStart {
    background-color: greenyellow;
    margin-right: 5px;
}

button {
    border-radius: 5px;
    outline: none;
}

h4 {
    display: inline;
}

span {
    color:darkred;
}